body {
  background-color: rgba(52, 239, 239, 0.989);
  border: 5px solid lightgreen;
  width: 80%;
  margin: auto;
  padding: 25px;
  font-weight: bolder;
  font-family: 'Courier New', Courier, monospace;
  max-width: fit-content;
}

h1 {
  font-style: italic;
  font-size: 30px;
  color: white;
  text-align: center;
}
h3 {
  text-align: center;
  color: white;
  font-style: bold;
}
a:link {
  color: rgb(9, 255, 193);
}
a:hover {
  color: black;
}

h2 {
  color: white;
}

p {
  color: white;
  display: block;
  width: 300px;
}
article {
  display: block;
  color: white;
  width: 300px;
}

img {
  width: 200px;
  height: auto;
  float: right;
  shape-outside:content-box;
    
}

footer {
  text-align: center;
  padding-top: 50px;
  margin-bottom: 50px;
  font-size:x-large
}
