body {
  background-color: rgba(130, 231, 231, 0.989);
  border: 5px solid lightgreen;
}

h1{
    font-style: italic;
    color: white;
    text-align: center;
}
h3{
    text-align: center;
    color: white;
}

img{
    width: 200px;
    height: auto;
    float: right;
    
}